html {
  font-family: sans-serif;
  font-size: 18px;
}
body {
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
.header {
  font-size: 140%;
  background: navy;
  color: white;
  padding: 4px;
}
.search {
  width: 100%;
  font-size: 200%;
}
.liquid-container, .liquid-child {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
}
/*
.liquid-child {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}*/
.memory-scroll {
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

@mixin photos-in-row($photos-per-row) {
  width: calc(100%/#{$photos-per-row});
}

.photo {
  display: inline-block;
  @include photos-in-row(2);

  @media (min-width: 700px) {
    @include photos-in-row(5);
  }

  @media (min-width: 900px) {
    @include photos-in-row(8);
  }

  @media (min-width: 1200px) {
    @include photos-in-row(10);
  }

  img {
    width: 100%;
  }
}
