<vbox>
  <box fit>
    {{input type="text" class="search" value=terms
            placeholder="Search..." autofocus=true
            enter=(action "search")}}
  </box>
  <box class="photo-grid">
    <div>
      {{#each photos as |photo|}}
        {{#link-to 'photo' photo.id class="photo"}}
          <img src="https://farm{{photo.farm}}.staticflickr.com/{{photo.server}}/{{photo.id}}_{{photo.secret}}_q.jpg" data-photo-id={{photo.id}} />
        {{/link-to}}
      {{/each}}
    </div>
  </box>
</vbox>
